button{
    width: 100px;
    height: 50px;
    background-color: #e5e7;
    border: 2px solid brown;
}

.butt{
    display: block;
}

.fade{
    display: flex;
    justify-content: space-between;
    background-color: darkolivegreen;
}